/* actual box color ->   background-image: linear-gradient(130deg, #3c2f71 0%, #2479ac 85%, #36a09b 100%);

the fake ->    background-image: linear-gradient(130deg, rgb(41, 33, 75) 0%, #194c6a 85%, #267470 100%); 

fake border color -> 
*/

body, html {
    margin: 0;
    padding: 0;
}


body {
  background: #181b21;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

wrapper{
    width:500px;
    height:400px;
    margin-left:10px;
}

#TBAF{
    z-index: 100;
    position: absolute;
    background-image: linear-gradient(130deg, rgb(41, 33, 75) 0%, #194c6a 85%, #267470 100%);
    width: 133px;
    height: 30px;
    top: 681px;
    left: 900px;
    text-align: center;
    padding-top: 10px;
    border-width: 1px;
    border-radius: 3px;
    border-color: #8e8e8e;
    border-style: solid;
    color: white;
}

#TBAF1{
    z-index: 100;
    position: absolute;
    background-image: linear-gradient(130deg, rgb(41, 33, 75) 0%, #194c6a 85%, #267470 100%);
    width: 133px;
    height: 30px;
    top: 601px;
    left: 900px;
    text-align: center;
    padding-top: 10px;
    border-width: 1px;
    border-radius: 3px;
    border-color: #8e8e8e;
    border-style: solid;
    color: white;
}

#TBAF2{
    z-index: 100;
    position: absolute;
    background-image: linear-gradient(130deg, rgb(41, 33, 75) 0%, #194c6a 85%, #267470 100%);
    width: 133px;
    height: 30px;
    top: 521px;
    left: 900px;
    text-align: center;
    padding-top: 10px;
    border-width: 1px;
    border-radius: 3px;
    border-color: #8e8e8e;
    border-style: solid;
    color: white;
}

#TBAF3{
    z-index: 100;
    position: absolute;
    background-image: linear-gradient(130deg, rgb(41, 33, 75) 0%, #194c6a 85%, #267470 100%);
    width: 133px;
    height: 30px;
    top: 441px;
    left: 900px;
    text-align: center;
    padding-top: 10px;
    border-width: 1px;
    border-radius: 3px;
    border-color: #8e8e8e;
    border-style: solid;
    color: white;
}

#TBAF4{
    z-index: 100;
    position: absolute;
    background-image: linear-gradient(130deg, rgb(41, 33, 75) 0%, #194c6a 85%, #267470 100%);
    width: 133px;
    height: 30px;
    top: 361px;
    left: 900px;
    text-align: center;
    padding-top: 10px;
    border-width: 1px;
    border-radius: 3px;
    border-color: #8e8e8e;
    border-style: solid;
    color: white;
}

#TBAF5{
    z-index: 100;
    position: absolute;
    background-image: linear-gradient(130deg, rgb(41, 33, 75) 0%, #194c6a 85%, #267470 100%);
    width: 133px;
    height: 30px;
    top: 281px;
    left: 900px;
    text-align: center;
    padding-top: 10px;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    border-color: #8e8e8e;
    color: white;
}

#TBAF6{
    z-index: 1;
    position: absolute;
    background-image: linear-gradient(130deg, #3c2f71 0%, #2479ac 85%, #36a09b 100%);
    width: 133px;
    height: 30px;
    top: 201px;
    left: 900px;
    text-align: center;
    padding-top: 10px;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    color: white;
}

#TBAF7{
    z-index: 1;
    position: absolute;
    background-image: linear-gradient(130deg, #3c2f71 0%, #2479ac 85%, #36a09b 100%);
    width: 133px;
    height: 30px;
    top: 121px;
    left: 900px;
    text-align: center;
    padding-top: 10px;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    color: white;
}

#TBAF8{
    z-index: 1;
    position: absolute;
    background-image: linear-gradient(130deg, #3c2f71 0%, #2479ac 85%, #36a09b 100%);
    width: 133px;
    height: 30px;
    top: 41px;
    left: 900px;
    text-align: center;
    padding-top: 10px;
    border-width: 1px;
    border-radius: 3px;
    border-style: solid;
    color: white;
}

.box{
    width: 500px;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: Montserrat;
    font-size: 20px;
    color: #f2f2f2;
    border-radius: 4px;
    flex-direction: column;
    background-color: #181b21;
    background-image: linear-gradient(130deg, #6c52d9 0%, #1eaafc 85%, #3edfd7 100%);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    /* border: 5px solid #181b21; */ 
    position: relative;
    overflow: hidden;
    transition: all .5s;
    margin: 10px;
    margin-left: 538px;
}

.box:hover {
    border-color: transparent;
}

.box > p {
    height: 65%;
    display: block;
    width: 270px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 5;
    margin: 0;
    padding-right:200px;
    transition: all .5s;
    padding-left: 20px;
}

.box .timerbox {
    width: 0%;
    height: 30%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    z-index: 5;
    margin-left: 120px;
    transition: all .5s;
    padding-left: 120px;
    color: #ffffff;
}

.triangle-right {
	width: 0;
	height: 0;
	border-top: 200px solid transparent;
	border-left: 400px solid #181b21;
    border-bottom: 200px solid transparent;
    position: absolute;
    left: 0;
    top: -90px;
    z-index: 2;
    opacity: 0.5;
}


.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #181b21;
    opacity: 0.6;
    z-index: 3;
}



.background {
    width: 100%;
    min-height: 100%;
}

